.logo{
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 1.75rem;
    background: linear-gradient(to right, #7bd4a0, #ffffff, #5ae293);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

