.resultsPageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  background-color: rgba(218, 212, 212, 0.829);
  overflow-x: hidden;
  font-family: var(--body-font);
}

.header {
  background-color: var(--header-bg-color);
}

.searchResults {
  background-color: white;
  color: var(--secondary-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  /* border: 1px solid red; */
}

.searchResultsHeader {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.searchIcon {
  font-size: calc(1.25rem + 1vw);
}

.searchText{
  font-size: calc(1rem + 1vw);
}





